# Homework 3

**Enter your Name:** Phillip McDonough

**Enter your PID:**  906263051

I have neither given nor received unauthorized assistance on this assignment. See the course sylabus for details on the Honor Code policy. In particular, sharing lines of solution code is prohibited.

In [1]:
# Run this cell first.  Do NOT edit this cell.
import pandas as pd
import numpy as np
Answer1 = Answer2 = Answer3 = Answer4 = None
survey = pd.read_csv('CS3654-FA21-survey-dirty.csv')
survey.shape

(106, 25)

**Problem 1: (55 points)**  Help! Our class survey data is all messed up! Can you clean it up using Python? Use a Pandas DataFrame to clean all the problems you can find in the data.  Assume that the data is very large; thus, do not try to clean the data by manually editing values.  Instead, create more general scripts to solve the problems, assuming that each type of problem you find may have numerous occurrences in a big dataset with many more rows.  Your cleaning should include:

* **Major:**  We need to standardize the set of majors to the following set:  CMDA, CS, DCC, FIN, ISE, MATH, STAT.
* **Age:**  There is one extreme value (3) that we should change.  Let's set it to the median value of that column.  Ensure that the column is of type int64 afterward.
* **Shoe:**  Remove text, replace the extreme value (73) with the column median, and ensure that the column is of type float64 afterward.
* **Siblings:**  Replace the extreme value (96) with the column median.  Ensure that the column is of type int64 afterward.
* **Sleep:**  Replace the extreme value (0.3125) with the column median.
* **Temperature:**  Remove text, replace the two Fahrenheit values (68, 75, and 86) with their Celsius equivalent, and ensure that the column is of type float64 afterward.
* **Restaurants:**  Change 'Twice' to 2, and ensure that the column is of type int64 afterward.
* **PhoneTalking:**  Convert '4 Hours' into minutes, change '120 min' to 120, and ensure that the column is of type int64 afterward.
* **PhoneApps:**  Change '20-30' to 25, and ensure that the column is of type int64 afterward.
* **FBFriends:**  Change "Don't have social media" and "N / A" to 0, remove other text, and ensure that the column is of type int64 afterward.
* **CompType:**  Change 'PC' to 100 and 'Mac' to 0, remove other text, and ensure that the column is of type int64 afterward.
* **DistanceFromHome:**  Remove 'km' and its variants (e.g., 'KM'), and ensure that the column is of type float64 afterward.  Note that commas in these values can cause conversion issues.
* **PlacesLived:**  Replace the extreme value (500) with the column median, and ensure that the columns is of type int64 afterward.
* **HDD:**  Standardize to GB (treat 1TB as 1000GB to keep things easy, and assume that unlabeled values are already in GB).  Remove all text and ensure that the column is of type float64 afterward.
* **RAM:**  Remove all text (assume that all values are already in GB).  Ensure that the column is of type int64 afterward.

Store the resulting clean table into variable 'Answer1'.  It should have the same column labels and order as 'survey'.

In [214]:
# Problem 1
Answer1 = survey.copy()

# Standardizing Majors
Answer1.Major.replace("Computer Science", "CS", inplace=True)

cmda_majors = {"cmda": "CMDA",
               "Computational Modeling and Data Analytics": "CMDA",
               "Computational Modeling & Data Analytics": "CMDA"}

Answer1.Major.replace(cmda_majors, inplace=True)

dcc_majors = {"Data-Centric Computer Science": "DCC",
              "Data-Centric Computing": "DCC",
              "Data Centric Computing": "DCC"}

Answer1.Major.replace(dcc_majors, inplace=True)

fin_majors = {"Finance": "FIN",
              "FinTech": "FIN",
              "Finance -Fintech and Big Data Analytics": "FIN"}

Answer1.Major.replace(fin_majors, inplace=True)

Answer1.Major.replace("Industrial and Systems Engineering", "ISE", inplace=True)

math_majors = {"mathematics": "MATH", 
               "Mathematics": "MATH",
               "Math": "MATH"}

Answer1.Major.replace(math_majors, inplace=True)

Answer1.Major.replace("Statistics", "STAT", inplace=True)

# Cleaning up Age 
Answer1.Age.replace(3, Answer1.Age.median(), inplace=True)

# Cleaning up Shoe
text = {"women size 7": 7,
        "US 8": 8}

Answer1.Shoe.replace(text, inplace=True)
Answer1.Shoe = Answer1.Shoe.astype(float)
Answer1.Shoe.replace(73, Answer1.Shoe.median(), inplace=True)

# Cleaning up Siblings
Answer1.Siblings.replace(96, Answer1.Siblings.median(), inplace=True)
Answer1.Siblings = Answer1.Siblings.astype(int)

# Cleaning up Sleep
Answer1.Sleep.replace(0.3125, Answer1.Sleep.median(), inplace=True)

# Cleaning up Temperature
temp_text = {"21 C": 21,
             "28.5 Celsius": 28.5,
             "23C": 23,
             "27 C": 27,
             "18 Celsius": 18,
             "68": 20,
             "75": 23.89,
             "86": 30}

Answer1.Temperature.replace(temp_text, inplace=True)
Answer1.Temperature = Answer1.Temperature.astype(float)

# Cleaning up Restaurants 
Answer1.Restaurants.replace("Twice", 2, inplace=True)
Answer1.Restaurants = Answer1.Restaurants.astype(int)
    
# Cleaning up PhoneTalking
phone_talking = {"4 Hours": 240,
                 "120 min": 120}

Answer1.PhoneTalking.replace(phone_talking, inplace=True)
Answer1.PhoneTalking = Answer1.PhoneTalking.astype(int) 

# Cleaning up PhoneApps
Answer1.PhoneApps.replace("20-30", 25, inplace=True)
Answer1.PhoneApps = Answer1.PhoneApps.astype(int)


# Cleaning up FBFriends
fbf = {"Don't have social media": 0,
       "N / A": 0,
       "220 followers on ins": 220,
       "1800 - Instagram": 1800}

Answer1.FBFriends.replace(fbf, inplace=True)
Answer1.FBFriends = Answer1.FBFriends.astype(int)

# Cleaning up CompType

comp_type = {"80 PC Windows": 80,
             "Linux/10": 10,
             "PC": 100,
             "Mac": 0,
             "50 (I like both of them)": 50}

Answer1.CompType.replace(comp_type, inplace=True)
Answer1.CompType = Answer1.CompType.astype(int)

# Cleaning up DistanceFromHome

km_distances = {"356 km": 356,
                "11,379.18 km": 11379.18,
                "11813KM": 11813,
                "4336.9 km": 4336.9,
                "6646 km": 6646}

Answer1.DistanceFromHome.replace(km_distances, inplace=True)
Answer1.DistanceFromHome = Answer1.DistanceFromHome.astype(float)

# Cleaning up PlacesLived

Answer1.PlacesLived.replace(500, Answer1.PlacesLived.median(), inplace=True)
Answer1.PlacesLived = Answer1.PlacesLived.astype(int)

# Cleaning up HDD

hdd = {"500GB": 500,
       "251 GB": 251,
       "1 TB": 1000,
       "475 GB": 475, 
       "2gb": 2,
       "212 Gb": 212, 
       "2 TB": 2000,
       "1tb": 1000,
       "462GB": 462,
       "256gb": 256,
       "512gb": 512,
       "500 GB": 500,
       "232gb": 232,
       "149GB": 149,
       "1TB": 1000,
       "260GB": 260,
       "930gb": 930,
       "475 GB": 475,
       "463.54 GB": 463.54,
       "181gb": 181,
       "4 TB": 4000,
       "120GB": 120,
       "2TB": 2000,
       "250.69 GB": 250.69,
       "20 gb": 20,
       "223 GB": 223,
       "250GB": 250,
       "100GB": 100,
       "256 GB": 256,
       "220 GB": 220,
       "287 GB": 287,
       "3 TB": 3000,
       "512 gb": 512,
       "458 GB": 458,
       "8 TB": 8000,
       "1861gb": 1861,
       "1 terabyte": 1000,
       "121 GB": 121,
       "512 GB": 512,
       "367 GB": 367,
       "1.5TB": 1500,
       "3.25 TB": 3250,
       "474GB": 474,
       "251GB": 251,
       "256 gb": 256,
       "121 GB": 121,
       "222gb": 222,
       "499 GB": 499,
       "952 GB": 952,
       "512GB": 512,
       "913 GB": 913,
       "250 gb": 250,
       "512 GB": 512,
       "1750GB": 1750,
       "128 gb": 128,
       "6TB": 6000}

Answer1.HDD.replace(hdd, inplace=True)
Answer1.HDD = Answer1.HDD.astype(float)

# Cleaning up RAM

ram = {"16GB": 16,
       "16 GB": 16, 
       "16 Gigabytes": 16,
       "16gb": 16,
       "32 GB": 32,
       "8 GB": 8,
       "8GB": 8,
       "32 gb": 32,
       "12 gigabytes": 12,
       "4 GB": 4,
       "8gb": 8,
       "12 GB": 12,
       "16 gb": 16,
       "8 gb": 8,
       "256 GB": 256,
       "128GB": 128}

Answer1.RAM.replace(ram, inplace=True)
Answer1.RAM = Answer1.RAM.astype(int)



Answer1.dtypes
Answer1.describe()
Answer1

,Name,Major,Age,Shoe,Siblings,Sleep,Temperature,Pets,Extrovert,Cooking,...,FBFriends,CompType,Books,DistanceFromHome,Countries,States,PlacesLived,Camping,HDD,RAM
0,Zain,CS,20,10.0,1,8.0,23.0,70,40,35,...,267,35,0,335.700000,5,32,2,30,500.0,16
1,Nayana,CMDA,19,8.0,1,8.0,21.0,90,70,50,...,894,0,1,13707.919450,1,10,2,30,251.0,16
2,Crystal,CMDA,20,7.0,1,5.0,18.0,100,65,85,...,300,100,4,6650.200000,1,8,1,0,256.0,64
3,Ashwin,CMDA,20,12.0,1,7.0,21.0,50,30,70,...,0,80,20,356.000000,2,8,7,30,1000.0,16
4,Hyesoo,CMDA,21,7.0,2,6.0,28.5,100,50,50,...,796,70,6,11379.180000,12,22,6,40,475.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,John D,CMDA,20,12.5,6,6.0,16.0,50,30,20,...,1075,0,2,419.000000,5,12,2,80,512.0,256
102,Raymond,CS,21,8.5,1,8.0,25.0,95,40,60,...,353,100,3,2876.825961,1,2,20,50,1750.0,16
103,Renny1111,CMDA,20,10.5,3,7.0,21.0,70,50,50,...,1240,10,0,326.390000,5,6,3,30,128.0,16
104,Jordan,CS,20,13.0,1,5.0,16.0,50,50,50,...,1800,40,0,444.000000,1,10,3,0,512.0,16
105,John,CS,33,9.0,1,6.5,15.0,85,20,75,...,568,100,75,359.212357,27,45,9,50,6000.0,128

**Problem 2: (15 points)**  What is the average number of Facebook friends for students of each Age in the class?  Using the cleaned data, return the result in a groupby Series as Answer2.

In [199]:
# Problem 2
Answer2 = Answer1.groupby(Answer1.Age)["FBFriends"].mean()
Answer2

Age
19    504.800000
20    516.158730
21    444.172414
22    638.600000
29     26.000000
30    443.000000
31    200.000000
33    568.000000
Name: FBFriends, dtype: float64

**Problem 3: (15 points)**  What is mean and standard deviation Extrovert score for the students in the class with 0 Siblings?  Using the cleaned data, return the result in a (mean, stdev) tuple in Answer3.

In [205]:
# Problem 3

no_siblings = Answer1[Answer1.Siblings == 0]
Answer3 = (no_siblings.Extrovert.mean(), no_siblings.Extrovert.std())
Answer3

(61.125, 23.485177696337992)

**Problem 4: (15 points)**  Our class has eight mystery students.  Produce a small DataFrame that only contains their Name and preferred Temperature, sorted in ascending order by Temperature.  Return this DataFrame in Answer4.

In [217]:
# Problem 4

mystery_students = Answer1[Answer1.Name.str.contains("mystery") | Answer1.Name.str.contains("Mystery")]
Answer4 = Answer1.loc[Answer1.Name.str.contains("mystery") | Answer1.Name.str.contains("Mystery"), ["Name", "Temperature"]].sort_values(["Temperature"])
Answer4

            Name  Temperature
52  Mystery53242         21.0
25  Mystery87541         22.0
76  Mystery54321         22.0
17  Mystery69420         23.0
84  Mystery20018         23.0
94  Mystery12345         23.8
27  Mystery81490         24.0
46  mystery99999         30.0

In [7]:
# ungraded scratch space

1